
body{
	background-color: white;
	margin:0px;
}

a{
	text-decoration: none;
}
.container{
	margin:0px;
}
<!–navigation bar styling->
.navig-bar{
	background-color:#171F30;
	position:fixed;
	width:100%;
	text-transform: uppercase;
	padding:10px;
	display: inline;
}

.moving-nav-bar{
	background-color:#171F30;
	position:fixed;
	width:100%;
	text-transform: uppercase;
	padding:10px;
	display: inline;
}

.navig-bar ul{
	list-style: none;
	color:white;
	display: inline;
}

.list-items {
	color:white;
	float:right;
	padding: 5px 5px 5px 5px;
	margin:7px;
}

.list-items:hover{
	background-color: #DED8D8;
	background-position: center;
	color:white;
	text-align:center;


}


.list-items:visited{
	color: none;
}

.sefr-ar{
	color: #FDFFFC;
}

.wahed-ar{
	color: #0197F6;
}

h3 {
    font-size: 1.75em;
}
/*navig bar ends here*/

/*sec-1*/
.sec-1{
	position: static;
	background-image: url('../images/intro.png');
	background-repeat:no-repeat;
	background-size: auto;
	width:100%;
}

.sec-1 h1{
	font-size: 7em;
	text-align: center;
	padding-bottom: 0;
	margin-top:75px;
	margin-bottom: 0px;
	padding-top: 100px;
}
.sec-1 h2{
	font-size: 2em;
	text-align:center;
}

.blue-button{
	color:#0197F6;
	background-color:transparent;
	border:1px solid #0197F6;
	border-radius: 5px;
	padding:5px;
}
.blue-button:hover{
	color:white;
	background-color:#0197F6;
	border:1px solid #0197F6;
	border-radius: 5px;
	padding:5px;
}
.white-button{
	color:white;
	background-color:transparent;
	border:1px solid white;
	border-radius:5px;
	padding:5px;
}
.white-button:hover{
	color:black;
	background-color:white;
	border-color: white;
	border-radius: 5px;
	padding:5px;
}

.links{
	text-align:center;
	font-size: 1.5em;
	padding-bottom: 15px;
}



/*WHO ARE WE SEC*/
.sec-who-we-are{
	margin-top: 75px;
}
.black-c{
	color:black;
}

.right {
	float:right;
	text-align:justify;
	width:50%;
	padding-right: 50px;
} 
.right h2{
	text-align:center;
	font-size:2.2em;
}
.left{
	float:left;
	margin-left:150px;
}
.clear{
	clear: both;
}

.right-soft {
	float:right;
	margin-right:150px;
} 

.left-soft{
	float:left;
	text-align:justify;
	width:45%;
	padding-left: 50px;
}
.left-soft h2{
	text-align:center;
	font-size:2.2em;
}
.clear{
	clear: both;
}
/*wh we are ends*/



/*here starts events*/
.events{
	background-color:#4C4C4C;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
    padding: 100px 0;
    color:white;
}

.events h5{
	font-size: 1.3em;
}

.box{
	background: #555555;
    display: inline-block;
    width: 80%;
    margin: auto; 
    margin-bottom: 30px;

}

.my-img{
	border-radius: 5px;
}

.ev-footer{
	background-color: #0197F6;
	color:white;
	border-radius:5px;
	padding:10px;
   }
/*here ends events*/

/* here starts code geist*/
.code-geist{
	color:white;
	background-color: #BFB5B5;
	background-image: url('../images/ssa.jpg');
	background-repeat:no-repeat;
	background-size: auto;
	
	height:120vh;
	

}

.right-txt{
	float:right;
	text-align:center;
	width:35%;
	padding-right: 150px;
}

.code-geist h2{
	font-family: Comic Sans MS;
	font-size: 3em;
}
.para1{
	font-family: Comic Sans MS;
	font-size:1.2em;
}
.code-geist p{
	color:white;
}
.para2{
	font-size: 20px;
}

.logo{
	padding-left: 85px;
}
.purple-but{
	color:white;
	background-color:#92278f;
	border:1px solid #92278f;
	border-radius:5px;
	padding:5px;
}
/* code geist ends here*/


/*contacting starts here*/
.stay-connected{
	padding-top: 20px;
	background-color: #333745;
	height:90vh;
	width:70%;
}
.message-us{
	background-color: #4e98f6;
	height:90vh;

}
.stay-connected h1{
	font-size: 45px;
	text-align: center;
	color:white;
	float:left;
	background-color:transparent;
	border:3px solid white;
	border-radius:50px;
	padding :5px;
	margin-top: 50px;
	margin-left: 290px;

}

.sector{

	padding-top: 20px;
	color: #4e98f6;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
}

.social-med{
	font-size: 20px;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%;
    text-align: center;
    padding-top: 30px;
    padding-left: 120px;
}


.fb{
	color:white;
	background-color:#4e98f6;
	border:1px solid #4e98f6;
	border-radius:5px;
	padding:1px;
	margin:5px;
	height:10vh;
}
.insta{
	color:black;
	background-color:white;
	border:1px solid white;
	border-radius:5px;
	padding:1px;
	margin:5px;
	height:10vh;
}
.yb{
	color:white;
	background-color:#db3545;
	border:1px solid #db3545;
	border-radius: 7px;
	padding:1px;
	margin:5px;
	height:10vh;
}
.linkedin{
	color:black;
	background-color:white;
	border:1px solid white ;
	border-radius:7px;
	padding:1px;
	margin:5px;
	height:10vh;
}
.main-foot{
	color:white;
	background-color: #333333;
	padding: 20px;
}
